/*
- colors
	- white: #F9FFF2
	- light green: #B5E655
	- green: #96CA2D
	- blue: #4BB5C1
	- dark: #00191C

- order (experimental):
	1. Positioning
	2. Display & Box Model
	3. Color
	4. Text
	5. Interaction
	6. Other
*/

body {
	background-color: #fefefe;
	color: #101010;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	text-shadow: 0 1px 0 #fff;
	overflow-y: scroll;
}

header, #search, #course-results, #subject-results {
	margin: 0 auto;
	width: 600px;
}

header h1 {
	margin: 1em 0 0 0;
	text-align: center;
	font-family: "Sansita One", "Times New Roman", serif;
}

header h3 {
	margin: 0.5em 0 1em 0;
	text-align: right;
	font-size: 2.4em;
}

h2, h3 { 
	margin: 0.2em 0 0.1em 0; 
	font-weight: 300; 
}

h1 { font-size: 4.2em; }

h2 { font-size: 3em; }

h3 { font-size: 2em; }

a {
	color: inherit;
	text-decoration: none;
}

#search input {
	margin-top: 1em;
	width: 100%;
	height: 2.4em;
	padding: 0.5em 0 0.5em 2.8em;
    color: #00191C;
	font-size: 1.8em;
	text-transform: uppercase;
	-webkit-border-radius: 10px;
    border-radius: 10px;
    outline: 0;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-size: 1.6em;
    background-position: 0.6em 0.4em;
}

#results-count {
	width: 600px;
	margin: 1em auto 0.5em auto;
	font-size: 2em;
}

#subject-results {
	margin-bottom: 1.5em;
}

#course-results {
	margin-bottom: 10em;
}

.course, .subject {
	margin: 0.5em 0;
	-webkit-border-radius: 4px;
    border-radius: 4px;
}

#search input, .course {
	border: 1px solid #adadad;
	-webkit-box-shadow:  0 1px 1px rgba(0,0,0,0.2),inset -1px -1px 0 #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2),inset -1px -1px 0 #fff;
}

.subject {
	border: 1px solid #adadad;
	-webkit-box-shadow:  0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.subject .header {
	height: 8em;
	cursor: pointer;
}

.course {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
}

.course .header {
	height: 8em;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.course .header:hover { 
	background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f0f0 0%, #e7e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f0f0 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f0f0 0%,#e7e7e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f0f0 0%,#e7e7e7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f0f0f0 0%,#e7e7e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
}

.course .header:active {
	background: #d7d7d7; /* Old browsers */
	background: -moz-linear-gradient(top,  #d7d7d7 0%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d7d7), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d7d7d7 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d7d7d7 0%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d7d7d7 0%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d7d7d7 0%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}

.course .title { 
	margin: 0 1em 0 10em; 
	padding: 0.75em 0;
}

.title h2, .title h3 {
	margin: 0;
}

.course .icon-wrapper {
	position: relative;
	height: 100%;
	width: 8em;
	left: -1px;
	top: -1px;
	float: left;
	border: 1px solid rgba(0,0,0,0.3);
	-webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -webkit-box-shadow: inset -1px -1px 0 rgba(255,255,255,0.3),inset 1px 1px 0 rgba(255,255,255,0.3);
    box-shadow: inset -1px -1px 0 rgba(255,255,255,0.3),inset 1px 1px 0 rgba(255,255,255,0.3);
}

.course.selected .header, .subject .header {
	-webkit-border-radius: 4px;
    border-radius: 4px;
}

.AHS.opened .header, .AHS.selected .header, .AHS.subject .header {
	background: #cee5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #cee5e5 0%, #93e0e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cee5e5), color-stop(100%,#93e0e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cee5e5 0%,#93e0e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cee5e5 0%,#93e0e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cee5e5 0%,#93e0e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cee5e5 0%,#93e0e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee5e5', endColorstr='#93e0e2',GradientType=0 ); /* IE6-9 */
}

.ART.opened .header, .ART.selected .header, .ART.subject .header {
	background: #fff3e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff3e5 0%, #ffe8cc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff3e5), color-stop(100%,#ffe8cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff3e5 0%,#ffe8cc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff3e5 0%,#ffe8cc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff3e5 0%,#ffe8cc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff3e5 0%,#ffe8cc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff3e5', endColorstr='#ffe8cc',GradientType=0 ); /* IE6-9 */
}

.ENG.opened .header, .ENG.selected .header, .ENG.subject .header {
	background: #f4e5ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4e5ff 0%, #e9ccff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4e5ff), color-stop(100%,#e9ccff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4e5ff 0%,#e9ccff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4e5ff 0%,#e9ccff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4e5ff 0%,#e9ccff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4e5ff 0%,#e9ccff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e5ff', endColorstr='#e9ccff',GradientType=0 ); /* IE6-9 */
}

.ENV.opened .header, .ENV.selected .header, .ENV.subject .header {
	background: #e4e5c3; /* Old browsers */
	background: -moz-linear-gradient(top,  #e4e5c3 0%, #e2e595 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e5c3), color-stop(100%,#e2e595)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e4e5c3 0%,#e2e595 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e4e5c3 0%,#e2e595 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e4e5c3 0%,#e2e595 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e4e5c3 0%,#e2e595 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e5c3', endColorstr='#e2e595',GradientType=0 ); /* IE6-9 */
}

.MAT.opened .header, .MAT.selected .header, .MAT.subject .header {
	background: #ffe5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe5f5 0%, #ffccea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe5f5), color-stop(100%,#ffccea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe5f5 0%,#ffccea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe5f5 0%,#ffccea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe5f5 0%,#ffccea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffe5f5 0%,#ffccea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe5f5', endColorstr='#ffccea',GradientType=0 ); /* IE6-9 */
}

.SCI.opened .header, .SCI.selected .header, .SCI.subject .header {
	background: #e5f3ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5f3ff 0%, #cce8ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5f3ff), color-stop(100%,#cce8ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5f3ff 0%,#cce8ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5f3ff 0%,#cce8ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5f3ff 0%,#cce8ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5f3ff 0%,#cce8ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f3ff', endColorstr='#cce8ff',GradientType=0 ); /* IE6-9 */
}

.VPA.opened .header, .VPA.selected .header, .VPA.subject .header {
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top,  #efefef 0%, #d8d8d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efefef 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efefef 0%,#d8d8d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efefef 0%,#d8d8d8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #efefef 0%,#d8d8d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
}

.subject .title { 
	margin: 0 0 0 1.5em; 
	padding: 0.75em 0;
	float: left;
}

.subject .icon-wrapper {
	position: relative;
	height: 100%;
	width: 8em;
	top: -1px;
	right: -1px;
	float: right;
	border: 1px solid rgba(0,0,0,0.3);
	-webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: inset -1px -1px 0 rgba(255,255,255,0.3),inset 1px 1px 0 rgba(255,255,255,0.3);
    box-shadow: inset -1px -1px 0 rgba(255,255,255,0.3),inset 1px 1px 0 rgba(255,255,255,0.3);
}

.icon {
	margin: 1em;
	height: 6em;
	width: 6em;
	background-repeat: no-repeat;
	background-size: 6em 6em;
}

.details {
	padding: 0 3em 4em 3em;
}

.details h2 {
	margin: 0.7em 0 0 0;
	font-size: 2.2em;
	font-weight: 400;
}

.details p { 
	margin: 0.2em 0;
	font-size: 1.8em;
	line-height: 1.4em;
}

p.offered {
	margin: 0.5em 0 0 0;
}

.offered span {
	margin: 0 0.5em 0 0;
	padding: 0.1em 0.5em;
	border-radius: 0.3em;
}

.AHS .icon-wrapper, .AHS span.offered {
	background: #6cd1d8; /* Old browsers */
	background: -moz-linear-gradient(top,  #6cd1d8 0%, #56d0d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6cd1d8), color-stop(100%,#56d0d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6cd1d8 0%,#56d0d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6cd1d8 0%,#56d0d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6cd1d8 0%,#56d0d8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6cd1d8 0%,#56d0d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cd1d8', endColorstr='#56d0d8',GradientType=0 ); /* IE6-9 */
}

.ART .icon-wrapper, .ART span.offered {
	background: #ffc57f; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffc57f 0%, #ffb566 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc57f), color-stop(100%,#ffb566)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc57f 0%,#ffb566 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc57f 0%,#ffb566 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc57f 0%,#ffb566 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc57f 0%,#ffb566 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc57f', endColorstr='#ffb566',GradientType=0 ); /* IE6-9 */
}

.ENG .icon-wrapper, .ENG span.offered {
	background: #cb7fff; /* Old browsers */
	background: -moz-linear-gradient(top,  #cb7fff 0%, #c166ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb7fff), color-stop(100%,#c166ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cb7fff 0%,#c166ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cb7fff 0%,#c166ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cb7fff 0%,#c166ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cb7fff 0%,#c166ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb7fff', endColorstr='#c166ff',GradientType=0 ); /* IE6-9 */
}

.ENV .icon-wrapper, .ENV span.offered {
	background: #d5d86c; /* Old browsers */
	background: -moz-linear-gradient(top,  #d5d86c 0%, #d4d655 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d86c), color-stop(100%,#d4d655)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d5d86c 0%,#d4d655 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d5d86c 0%,#d4d655 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d5d86c 0%,#d4d655 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d5d86c 0%,#d4d655 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d86c', endColorstr='#d4d655',GradientType=0 ); /* IE6-9 */
}

.MAT .icon-wrapper, .MAT span.offered {
	background: #ff7fce; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff7fce 0%, #ff66c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7fce), color-stop(100%,#ff66c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff7fce 0%,#ff66c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff7fce 0%,#ff66c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff7fce 0%,#ff66c4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff7fce 0%,#ff66c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7fce', endColorstr='#ff66c4',GradientType=0 ); /* IE6-9 */
}

.SCI .icon-wrapper, .SCI span.offered {
	background: #7fc7ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #7fc7ff 0%, #66bcff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7fc7ff), color-stop(100%,#66bcff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7fc7ff 0%,#66bcff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7fc7ff 0%,#66bcff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7fc7ff 0%,#66bcff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7fc7ff 0%,#66bcff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fc7ff', endColorstr='#66bcff',GradientType=0 ); /* IE6-9 */
}

.VPA .icon-wrapper, .VPA span.offered {
	background: #dbdbdb; /* Old browsers */
	background: -moz-linear-gradient(top,  #dbdbdb 0%, #aaaaaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%,#aaaaaa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dbdbdb 0%,#aaaaaa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dbdbdb 0%,#aaaaaa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dbdbdb 0%,#aaaaaa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dbdbdb 0%,#aaaaaa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */
}

/*effect when opened*/
.course.opened {
	-webkit-border-radius: 4px 0 4px 4px;
	border-radius: 4px 0 4px 4px;;
}
.course.opened .icon-wrapper {
	-webkit-border-radius: 0;
	border-radius: 0;
}
.course.opened .header {
	position: relative;
	left: -11px;
	top: -1px;
	border: 1px solid #adadad;
	-webkit-border-radius: 0;
    border-radius: 0;
    cursor: default;
}

/*CSS wrapper effect*/
.course.opened .header:before, .course.opened .header:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #666 transparent transparent transparent;
	bottom: -11px;
}

.course.opened .header:before {
	border-width: 11px 0 0 11px;
	left: -1px;
}
.course.opened .header:after {
	border-width: 11px 11px 0 0;
	right: -1px;
}

/*adjustments for smaller screen size*/
@media only screen and (max-width : 475px) {
	header, #search, #course-results, #subject-results { width: 400px; }
	h2 { font-size: 2.5em; }
	h3 { font-size: 1.5em; }
}

@media only screen and (max-width : 425px) {
	header, #search, #course-results, #subject-results { width: 350px; }
}