/* Mixins */

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($time, $effect: ease) {
	-webkit-transition: all $time $effect;
	-moz-transition: all $time $effect;
	-ms-transition: all $time $effect;
	-o-transition: all $time $effect;
	transition: all $time $effect;
}

@mixin user-select($effect) {
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

@mixin square($side) {
	width: $side;
	height: $side;
}


body {
	background-color: #fefefe;
	color: #101010;
	text-shadow: 0 1px 0 #fff;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	overflow-y: scroll;
}

/* overall styles */

header, #search, #results-count, #course-results, #subject-results, #noscript {
	margin: 0 auto;
	width: 600px;
}

header, .subject .header, .course .header, #back-to-top {
	cursor: pointer;
}


/* header styles */

header {
	h1 {
		margin: 1em 0 0 0;
		text-align: center;
		font-family: "Sansita One", "Times New Roman", serif;
	}
	h3 {
		margin: 0.5em 0 1em 0;
		text-align: right;
		font-size: 2.4em;
	}
}

h2, h3 { 
	margin: 0.2em 0 0.1em 0; 
	font-weight: 300; 
}

h1 { font-size: 4.2em; }

h2 { font-size: 3em; }

h3 { font-size: 2em; }

a {
	color: inherit;
}

#noscript {
	margin-top: 5em;

	p {
		font-size: 1.8em;
	}
	a {
		text-decoration: underline;
	}
}

/* search bar styles */
 
#search input {
	display: none;
	margin-top: 1em;
	padding: 0.5em 1em 0.5em 2.8em;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	@include border-radius(10px);
	color: #00191C;
	background-image: url('../img/svg/search.svg');
	background-repeat: no-repeat;
	background-size: 1.6em;
	background-position: 0.6em 0.4em;
	text-transform: uppercase;
	font-size: 1.8em;
	font-family: inherit;
	outline: 0;
}

#search input, .course, .subject {
	border: 1px solid #999;
	-webkit-box-shadow:  0 1px 1px rgba(0,0,0,0.2),inset -1px -1px 0 #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2),inset -1px -1px 0 #fff;
}

#results-count {
	margin: 1em auto 0.5em auto;
	font-size: 2em;
}

/* subject and course styles*/

#subject-results {
	margin-bottom: 1.5em;
	a {
		text-decoration: none;
	}
}

#course-results {
	margin-bottom: 10em;
}

.subject, .course {
	margin: 0.5em 0;
	@include border-radius(4px);
}

.subject .header, .course .header {
	position: relative;
	height: 8em;
	width: 598px;
	@include border-radius(4px);
	@include user-select(none);
	@include transition(.2s);
}

.subject .icon-wrapper, .course .icon-wrapper {
	position: relative;
	top: -1px;
	@include square(8em);
	border: 1px solid rgba(0,0,0,0.3);
	-webkit-box-shadow: inset -1px -1px 0 rgba(255,255,255,0.3),inset 1px 1px 0 rgba(255,255,255,0.3);
	box-shadow: inset -1px -1px 0 rgba(255,255,255,0.3),inset 1px 1px 0 rgba(255,255,255,0.3);
}

.subject .title { 
	margin: 0 0 0 1.5em; 
	padding: 0.75em 0;
	float: left;
}

.subject .icon-wrapper {
	right: -1px;
	float: right;
}

.course .title { 
	margin: 0 1em 0 10em; 
	padding: 0.75em 0;
}

.title h2, .title h3 {
	margin: 0;
}

.course .icon-wrapper {
	left: -1px;
	float: left;
	@include border-radius(5px 0 0 5px);
}

.icon {
	margin: 1em;
	@include square(6em);
	background-repeat: no-repeat;
	background-size: 6em 6em;
}

#back-to-top {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 50px;
	color: #777;
	font-size: 1.8em;
	text-align: center;

	a {
		text-decoration: none;	
	}
	a:hover span {
		background-color: #AAA;
	}
	span {
		@include square(60px);
		display: block;
		margin: 7px auto;
		background: #ddd url("../img/svg/arrow-up.svg") no-repeat center center;
		background-size: 50px;
		background-position: 5px 5px;
		@include border-radius(30px);
		@include transition(0.5s);
	}
}

/* course page styles */

.details {
	width: 536px;
	padding: 0 3em 4em 3em;
	cursor: default;

	h2 {
		margin-top: 0.7em;
		font-size: 2.2em;
		font-weight: 400;
	}
	p { 
		margin: 0.5em 0.5em 0.5em 1em;
		font-size: 1.6em;
		line-height: 1.4em;
	}
}

p.offered {
	margin-top: 0.5em;
}

.offered span {
	margin: 0 0.5em 0 0;
	padding: 0.2em 0.5em;
	border-radius: 0.4em;
}

p.official-link, p.course-link {
	margin-top: 1.6em;
	text-decoration: underline;
}


/* opened course styles */

.course.opened {
	-webkit-border-radius: 4px 0 4px 4px;
	border-radius: 4px 0 4px 4px;;

	.icon-wrapper {
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	.header {
		position: relative;
		width: 619px;
		left: -11px;
		top: -1px;
		border: 1px solid #999;
		@include border-radius(0);
		@include user-select(text);
	}
}

/* CSS wrapper effect */
.course.opened .header {
	&:before, &:after {
		content: "";
		position: absolute;
		display: block;
		border-style: solid;
		border-color: #666 transparent transparent transparent;
		bottom: -11px;
	}
	&:before {
		border-width: 11px 0 0 11px;
		left: -1px;
	}
	&:after {
		border-width: 11px 11px 0 0;
		right: -1px;
	}
}


/* adjustments for smaller screen size */
@media only screen and (max-width : 900px) {
	header, #search, #results-count, #course-results, #subject-results, #noscript {
		width: 500px;
	}
	.subject .header, .course .header {
		width: 498px;
	}
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2.8em;
	}
	header h3 {
		font-size: 2.2em;
	}
	h3 {
		font-size: 1.8em;
	}
	.course .title {
		padding: 1em 0;
	}

	#back-to-top {
		right: 10px;
	}
	#back-to-top p {
		margin: 0;
	}
	#back-to-top a {
		font-size: 0.8em;
	}
	#back-to-top span {
		@include square(50px);
		margin: 0 auto;
		background-size: 40px;
		background-position: 5px 5px;
	}
}

@media only screen and (max-width : 650px) {
	header, #search, #results-count, #course-results, #subject-results, #noscript {
		width: 400px;
	}
	.subject .header, .course .header {
		width: 398px;
	}
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2.5em;
	}
	header h3 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.8em;
	}
	.course .title {
		margin: 0 0.5em 0 9.5em;
		padding: 1em 0;
	}

	#back-to-top {
		right: 10px;

		p {
			margin: 0;
		}
		a {
			font-size: 0.6em;
		}
		span {
			@include square(40px);
			margin: 0 auto;
			background-size: 30px;
			background-position: 5px 5px;
		}
	}
}

@media only screen and (max-width : 550px) {
	header, #search, #course-results, #subject-results { width: 350px; }
}