/*
Order:
	1. Positioning
	2. Display & Box Model
	3. Color
	4. Text
	5. Interaction
	6. Other
*/

body {
	background-color: #fefefe;
	color: #101010;
	text-shadow: 0 1px 0 #fff;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	overflow-y: scroll;
}


/* header styles */

header, #search, #results-count, #course-results, #subject-results, #noscript {
	margin: 0 auto;
	width: 600px;
}

header h1 {
	margin: 1em 0 0 0;
	text-align: center;
	font-family: "Sansita One", "Times New Roman", serif;
}

header h3 {
	margin: 0.5em 0 1em 0;
	text-align: right;
	font-size: 2.4em;
}

h2, h3 { 
	margin: 0.2em 0 0.1em 0; 
	font-weight: 300; 
}

h1 { font-size: 4.2em; }

h2 { font-size: 3em; }

h3 { font-size: 2em; }

a {
	color: inherit;
	text-decoration: none;
}

#noscript {
	margin-top: 5em;
}

#noscript p {
	font-size: 1.8em;
}

#noscript a {
	text-decoration: underline;
}


/* search bar styles */
 
#search input {
	display: none;
	margin-top: 1em;
	padding: 0.5em 1em 0.5em 2.8em;
	width: 100%;
	height: 2.4em;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #00191C;
	background-image: url('../img/svg/search.svg');
	background-repeat: no-repeat;
	background-size: 1.6em;
	background-position: 0.6em 0.4em;
	text-transform: uppercase;
	font-size: 1.8em;
	font-family: inherit;
	outline: 0;
}

#search input, .course, .subject {
	border: 1px solid #adadad;
	-webkit-box-shadow:  0 1px 1px rgba(0,0,0,0.2),inset -1px -1px 0 #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2),inset -1px -1px 0 #fff;
}

#results-count {
	margin: 1em auto 0.5em auto;
	font-size: 2em;
}


/* subject and course styles*/

#subject-results {
	margin-bottom: 1.5em;
}

#course-results {
	margin-bottom: 10em;
}

.subject, .course {
	margin: 0.5em 0;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.subject .header, .course .header {
	position: relative;
	height: 8em;
	width: 598px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.subject .icon-wrapper, .course .icon-wrapper {
	position: relative;
	top: -1px;
	height: 100%;
	width: 8em;
	border: 1px solid rgba(0,0,0,0.3);
	-webkit-box-shadow: inset -1px -1px 0 rgba(255,255,255,0.3),inset 1px 1px 0 rgba(255,255,255,0.3);
	box-shadow: inset -1px -1px 0 rgba(255,255,255,0.3),inset 1px 1px 0 rgba(255,255,255,0.3);
}

.subject .title { 
	margin: 0 0 0 1.5em; 
	padding: 0.75em 0;
	float: left;
}

.subject .icon-wrapper {
	right: -1px;
	float: right;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.course .title { 
	margin: 0 1em 0 10em; 
	padding: 0.75em 0;
}

.title h2, .title h3 {
	margin: 0;
}

.course .icon-wrapper {
	left: -1px;
	float: left;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.icon {
	margin: 1em;
	height: 6em;
	width: 6em;
	background-repeat: no-repeat;
	background-size: 6em 6em;
}


/* course page styles */

.details {
	width: 536px;
	padding: 0 3em 4em 3em;
	cursor: default;
}

.details h2 {
	margin-top: 0.7em;
	font-size: 2.2em;
	font-weight: 400;
}

.details p { 
	margin: 0.5em 0.5em 0.5em 1em;
	font-size: 1.6em;
	line-height: 1.4em;
}

p.offered {
	margin-top: 0.5em;
}

.offered span {
	margin: 0 0.5em 0 0;
	padding: 0.2em 0.5em;
	border-radius: 0.4em;
}

p.course-link {
	margin-top: 1.2em;
	text-decoration: underline;
}

/* experimental styles with pre-req tree */

.pre-reqs {
	width: 1000px;
	height: 8em;
	margin-left: -100px;
}

.small, .small .header {
	width: 15em;
	height: 5em;
	margin-right: 2em;
	float: left;
}

.small.course .title {
	margin: 0 1em 0 6.5em; 
	padding: 0.75em 0;
}

.small.course h2 {
	font-size: 2.6em;
}

.small.course .icon-wrapper {
	height: 5em;
	width: 5em;
}

.small .icon {
	margin: 0.5em;
	height: 4em;
	width: 4em;
	background-repeat: no-repeat;
	background-size: 4em 4em;
}


/* opened course styles */

.course.opened {
	-webkit-border-radius: 4px 0 4px 4px;
	border-radius: 4px 0 4px 4px;;
}
.course.opened .icon-wrapper {
	-webkit-border-radius: 0;
	border-radius: 0;
}
.course.opened .header {
	position: relative;
	width: 619px;
	left: -11px;
	top: -1px;
	border: 1px solid #adadad;
	-webkit-border-radius: 0;
	border-radius: 0;
	cursor: default;
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

/* CSS wrapper effect */
.course.opened .header:before, .course.opened .header:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #666 transparent transparent transparent;
	bottom: -11px;
}

.course.opened .header:before {
	border-width: 11px 0 0 11px;
	left: -1px;
}
.course.opened .header:after {
	border-width: 11px 11px 0 0;
	right: -1px;
}


/* adjustments for smaller screen size */
@media only screen and (max-width : 475px) {
	header, #search, #course-results, #subject-results { width: 400px; }
	h2 { font-size: 2.5em; }
	h3 { font-size: 1.5em; }
}

@media only screen and (max-width : 425px) {
	header, #search, #course-results, #subject-results { width: 350px; }
}